/* .recoil-text {
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.recoil-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: clip;
}